* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #238be6;
  color: white;
  height: 100%;
  padding-inline: 1rem;
  border: #74b0e4 1px solid;
  border-radius: 2px;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  border: black 1px solid;
}

a {
  color: black !important;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65cfdf, #6cb0eb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info {
  color: gray;
}

div.add-link {
  margin: auto;
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.add-link input {
  flex: 1;
  height: 100%;
  outline: none;
  border: gray 1px solid;
  border-radius: 2px;
  padding-inline: 4px;
  margin-right: 1rem;
}

div.feedback {
  margin: auto;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

div.feedback span {
  margin-right: 1rem;
}